html{
  background-color: #FBFBFB;
  background-image: -webkit-linear-gradient(90deg, #7dc7FF, #a3d8ff);
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}

footer {
  /* font-size: 12px;
  font-weight: lighter; */
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
